{% extends 'layout.html.twig' %}

{% block title 'Admin' %}

{% block content %}
    <h1>Pagina del Admin</h1>

    Si ves esto es por que eres administrador, o no esta esta bien configurada la seguridad.
{% endblock %}