{% extends 'layout.html.twig' %}

{% block title 'Comentarios' %}

{% block content %}

    <h1>Comentarios de Usuarios de películas</h1>

    <table border="1px" width=>
        <thead>
        <tr>
            <th>Usuario</th>
            <th>Contenido</th>
            <th>Fecha</th>
        </tr>
        </thead>
        <tbody>
        {% for comentario in comentarios %}
            <tr>
                <td width="100px">{{ comentario.autorComentario}}</td>
                <td width="100px">{{ comentario.contenido }}</td>
                <td width="100px">{{ comentario.fecha|date('Y/m/d')}}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}