body {
    padding-top: 70px;
    padding-bottom: 30px;
}


img{
    width: 200px;
}

td{
    text-align: center;
    width: 400px;
}

tr:nth-child(even){
    background-color: #9acfea;
}

th{
    height: 50px;
    text-align: center;
    background-color: #0f0f0f;
    color: cornsilk;
}

label strong{
    color: #122b40;
}

.imgGrande{
    width: 400px;
    margin-top: 20px;
}